html{

    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #73C2FB;
    
}


.weatherInput{

    border-radius: 35px;
    border-width: 3px;
    padding: 10px 0px 40px 0px;
    margin: 0px 400px;
    background-color: #3996d9;
    
}

.weathercards{

    list-style: none;
    overflow: hidden;
    float: left;
}
.daysForcast {
    float: center;
}
li {

    float: left;
    margin:0px 0px  0px 95px;
    border-style: solid;
    border-radius:35px;
    border-width: 3px;
    padding: 15px;
    background-color: #3996d9;

}
li a {
    display: block;
}
#mkn{

    float: center;
    margin: 95px 0px 0px 0px;
}

.currentWeather{

    margin: 50px 700px 0px 700px;
    padding: 25px 0px;
    border-style: solid;
    border-radius: 35px;
    border-width: 3px;
    background-color: #3996d9;
}
